# Environment variables
.env

#Config
sql/
expectations/
logs/
static/
reports/

# Great Expectations temporary files
great_expectations/uncommitted/
gx/

# Python cache
__pycache__/
*.pyc

# IDE / OS specific
.idea/
.vscode/
.DS_Store

# Virtual environment
.venv/
venv/
env/